<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="${name}" />
    <p th:text="${groupsInfo}" />
    <br>
    <a href="/createNewGroup">Create New Group</a><br>
    <a href="/addUserToGroup">Add a User to Group</a><br>
    <a href="/addCredential">Add New Credential</a><br>
</body>
</html>
